<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Link Press: My links</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/common.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/allLinks.css" />
  </head>

  <body>
    <header class="app-header">
      <div class="logo-container">
        <a class="logo" href="/generate">Link Press</a>
      </div>
      <ul class="nav-list">
        <li>
          <button class="list-link" onClick="onLogout()">Logout</button>
        </li>
      </ul>
    </header>
    <div class="column" style="margin: auto">
      <h2 class="column-header" id="column-header">My Links</h2>
      <div class="my-link-container" id="all-links"></div>
    </div>
  </body>
  <script src="scripts/http.js"></script>
  <script src="scripts/allLinks.js"></script>
</html>
