<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Users</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/common.css" />
  </head>

  <body>
    <header class="app-header">
      <div class="logo-container">
        <a class="logo" href="/generate">Link Press</a>
      </div>
    </header>
    <!-- Add Users -->
    <div class="column" style="height: 80vh">
      <img src="assets/page-not-found.jpg" class="p-s" style="height: 80%" />
      <span>Oops, Page not found!</span>
    </div>
  </body>
  <script src="scripts/http.js"></script>
  <script src="scripts/users.js"></script>
</html>
