body {
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 1;
}

.border-s {
  border: 1px solid #feab3a;
  border-radius: 3px;
}

.border-m {
  border: 1.5px solid #f35626;
  border-radius: 6px;
}

.p-s {
  padding: 8px;
}

.p-r {
  padding: 16px;
}

.m-s {
  margin: 8px;
}

.m-r {
  margin: 16px;
}

/* ==========================
==============HEADER=========
============================= */

.app-header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #f35626;
  box-shadow: 0 0 15px -3px #aaa;
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

/* Logo Styling */
.logo-container {
  margin: 1em;
  font-weight: 800;
  font-size: 1.2em;
}

.logo {
  text-decoration: none;
  background-image: linear-gradient(92deg, #f35626 0%, #feab3a 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.submit-btn {
  background-image: linear-gradient(92deg, #f35626 0%, #feab3a 100%);
}

/* Logo Styling End*/

/* Navigation Links Styling Start*/
.nav-list {
  display: flex;
  list-style: none;
}

.nav-list li {
  display: flex;
}

.list-link {
  color: #000;
  font-weight: 400;
  margin: 8px;
  transition: 0.25s color;
  background: transparent;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

li:hover .list-link {
  color: orange;
}
